<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home page</h1>

<a href="/">Home</a>
<a href="/shop">Shop</a>
<a href="/my_cart">My Cart</a><br>
<img src="../images/icon.png" alt="login_icon" height="100" width="100">

{{>footer}}
</body>
</html>