<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home page</h1>

<a href="/">Home</a>
<a href="/shop">Shop</a>
<a href="/my_cart">My Cart</a><br>
<form>
<label>User Name:</label><br> <input id="user" type="text" size="20"><br>
<label>Password:</label><br> <input id="pwd" type="text" size="20">
</form>
</body>
</html>