<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Cart</title>
</head>
<body>
<h1>My Cart</h1>

<a href="/">Home</a>
<a href="/shop">Shop</a>
<a href="/my_cart">My Cart</a><br>
</body>
</html>