<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body>
<h1>Sign up page</h1>

<a href="/">Home</a>
<a href="/shop">Shop</a>
<a href="/my_cart">My Cart</a><br>
<form action="/insert" method="post">
<label>E-mail:</label><br> <input id="email" name="email" minlength="5" maxlength="15" type="text" size="20"><br>
<label>Password:</label><br> <input id="pwd" name="pwd" minlength="5" maxlength="15" type="text" size="20"><br>
<label>Enter Password Again:</label><br> <input id="pwd2" minlength="5" maxlength="15" name="pwd2" type="text" size="20"><br>
<input type="submit" value="create account">
    <br>
    {{message}}
</form>

{{>footer}}
</body>
</html>